html, body {
  height: 100%;
}
body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  height: 100%;
}
.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100%;
}
.header {
  width: 92px; 
  margin: 16px auto;
}
.content {
	flex-grow: 1;
  border-bottom: 1px solid grey;
  border-top: 1px solid grey;
  display: flex;
  align-items: center;
  justify-content: center; 
}
.div {
  width: 468px;
  /* left: 50%;
  margin-left: -234px;
  top: 50%;
  margin-top: -55px; */
}
.please {
  margin: 0px auto 24px;
  display: inline-block;
}
.open {
  width: 160px;
  height: 50px;
  margin: 0 153px;
  background: #62BDFF;
  color: white;
  border: none;
  border-radius: 8px;
}
.footer {
  font-family: 'Roboto', sans-serif;
  width: 96px;
  margin: 16px auto;
  font-size: 34px;
  font-weight: 700;
  flex-grow: 0;
}
.hystmodal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.6);
  z-index: 1000;
}
.hystmodal .hystmodal__window {
  width: 500px;
  height: 280px;
  border-radius: 8px;
  background-color: #fefefe;
  margin: 15% auto;
  z-index: 99999;
}
.hystmodal__close {
  width: 13px;
  height: 13px;
  background: url('../img/Close.svg') no-repeat top;
  margin-top: 10px;
  margin-left: 477px;
  border: none;
}
.hystmodal__area {
  width: 288px;
  height: 60px;
  display: flex;
  position: relative;
  margin-left: 108px;
  margin-top: 60px;
}
.hystmodal__area__name {
  width: 140px;
  height: 60px;
  text-align: right;
  padding: 4px;
}
.hystmodal__area__your-name, .hystmodal__area__your-post {
  display: inline-block;
  margin-top: 4px;
  margin-bottom: 4px;
  line-height: 18px;
  text-align: center;
}
.hystmodal__area__input {
width: 148px;
height: 60px;
}
.hystmodal__area__input-name, .hystmodal__area__input-post {
  width: 140px;
  height: 18px;
  margin-top: 4px;
}
.hystmodal__save {
    width: 160px;
    height: 50px;
    margin-top: 26px;
    background: #62BDFF;
    color: white;
    border: none;
    border-radius: 8px;
    margin-left: 170px;
}