* { box-sizing: border-box; }

body {
  width: 100%;
  font-family: 'Roboto', sans-serif;
  margin: 0 auto;
  height: 100%;
}

.wrapper {
	display: flex;
	/* flex-direction: column; */
	min-height: 100%;
}

.content {
	flex-grow: 1;
  /* display: flex; */
  align-items: center;
  justify-content: center; 
}
.grid {
  display: grid;
  grid-template-columns: repeat(10, 10%);
  grid-template-rows: repeat(5, 20vh);
}
.grid__element {
  border: 1px solid #00A3FF;
  display: flex;
  align-items: center;
  justify-content: center; 
}
.grid__element__number {
  font-size: 34px;
}