* { box-sizing: border-box; }

body {
  width: 100%;
  font-family: 'Roboto', sans-serif;
  margin: 0 auto;
  height: 100%;
}

.wrapper {
	display: flex;
	min-height: 100%;
}

.content {
	flex-grow: 1;
  align-items: center;
  justify-content: center; 
}

.top_conditions {
  display: flex;
  align-items: center;
  justify-content: center; 
}
.bottom_conditions {
  display: flex;
  align-items: center;
  justify-content: center; 
}
.block {
  width: 100px;
  height: 100px;
  background: grey;
}
.size_little {
  width: 50px;
  height: 50px;
}
.size_big {
  width: 200px;
  height: 200px;
}
.color_red {
  background: red;
}
.color_green {
  background: green;
}